<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title><%= content_for?(:title) ? yield(:title) : "Bookkeeper" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  
  	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
	  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <a class="navbar-brand" href="<%= root_url %>">Bookkeeper</a>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
	    <ul class="nav navbar-nav mr-auto">
	      <li class="nav-item">
	        <%= link_to 'New person', new_person_path, class: 'nav-link' %>
	      </li>
	      <li class="nav-item">
	        <%= link_to 'People', people_path, class: 'nav-link' %>
	      </li>
	      <li class="nav-item">
	        <%= link_to 'Expenses', expenses_path, class: 'nav-link' %>
	      </li>
	    </ul>
	  </div>
	</nav>
	
	<% if content_for? :jumbotron %>
	<div class="jumbotron jumbotron-fluid">
      <div class="container">
        <%= yield :jumbotron %>
      </div>
    </div>
    <% end %>
    
    <% if not notice.nil? %>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
      <span class="text-success"><%= notice %></span>
      </div>
    </div>
    <% end %>

    <div class="container" style="margin-top: 2rem;">
	<%= yield %>
    </div>
  </body>
</html>
